@page
@model IndexModel

<!DOCTYPE html>
<html>
<head>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css"
          rel="stylesheet" />
</head>
<body>
    <h5 class="bg-primary text-white text-center m-2 p-2">Замена первой буквы в словах на большую</h5>
    <form method="post">
        <textarea class="form-control" rows="5" name="text">@Model.Message</textarea>
        <input class="btn btn-primary" type="submit" value="Заменить" />
        <a asp-page="WordList" class="btn btn-primary">Слова в базе</a>
    </form>
    <div class="row">
        <div class="col">
            <h5 class="bg-primary text-white text-center m-2 p-2">Список найденных слов</h5>
            <ul class="list-group m-2">
                @foreach (string s in Model.WordList)
                {
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
                            <label class="form-check-label" for="exampleCheck1">@s</label>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="col">
            <h4 class="bg-primary text-white text-center p-2">Слова в базе</h4>
            <table class="table table-sm table-bordered table-striped">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Имя</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Word w in Model.Words1)
                    {
                        <tr>
                            <td>@w.WordId</td>
                            <td>@w.Meaning</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

@functions
{
    public class IndexModel : PageModel
    {
        public string Message { get; set; } = @"
Уорд Каннингем и его соавтор Бо Леуф в их книге The Wiki Way: Quick Collaboration on the Web описали сущность концепции вики следующим образом:
Вики предлагает всем пользователям редактировать любую страницу или создавать новые страницы на вики-сайте, используя обычный веб-браузер без каких-либо его расширений.
Вики поддерживает связи между разными страницами за счёт почти интуитивно понятного создания ссылок на другие страницы и отображения того, существуют данные страницы или нет.
Вики не является тщательно изготовленным сайтом для случайных посетителей. Напротив, Вики стремится привлечь посетителей к непрерывному процессу создания и сотрудничества, который постоянно меняет вид сайта.
";
        public List<string> WordList = new List<string>() { " " };

        public char[] SentenceSeparators { get; set; } = { '.', '!', '?' };

        public char[] Separators { get; set; } = { ' ', ';', ':', ',' };

        private DataContext context1;

        public IndexModel(DataContext dbContext)
        {
            context1 = dbContext;
        }

        public IEnumerable<Word> Words1 { get; set; }

        public void OnGet()
        {
            Words1 = context1.Words;
        }

        public void OnPost(string text)
        {
            if (text != null)
            {
                WordList.Clear();
                var temp = text.Split(SentenceSeparators, StringSplitOptions.RemoveEmptyEntries).Distinct().ToArray();
                for(var i = 0; i < temp.Length; i++)
                {
                    var temp2 = temp[i].Split(Separators, StringSplitOptions.RemoveEmptyEntries).Distinct().ToArray();
                    for(var j = 1; j < temp2.Length; j++)
                    {
                        var ch = temp2[j];
                        if (char.IsUpper(ch[0]))
                            WordList.Add(temp2[j]);
                    }
                }
                var WordArr = WordList.ToArray();
                WordList.Clear();
                Array.Sort(WordArr);
                WordList = WordArr.Distinct().ToList();
                Message = text;
            }
            else
            {
                Message = "";
                WordList.Add("");
            }
        }
    }
}