@page
@model IndexModel

<!DOCTYPE html>
<html>
<head>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css"
          rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col">
            <h5 class="bg-primary text-white text-center m-2 p-2">Замена первой буквы в словах на большую</h5>
            <form method="post">
                <textarea class="form-control" rows="10" name="text">@Model.Message</textarea>
                <input class="btn btn-primary" type="submit" value="Заменить" />
                <a asp-page="WordList" class="btn btn-primary">Слова в базе</a>
            </form>
        </div>
        <div class="col">
            <h5 class="bg-primary text-white text-center m-2 p-2">Список найденных слов</h5>
            <ul class="list-group m-2">
                @foreach (string s in Model.WordList)
                {
                    <li class="list-group-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
                            <label class="form-check-label" for="exampleCheck1">@s</label>
                        </div>
                    </li>
                }
            </ul>

        </div>
    </div>
</body>
</html>

@functions
{
    public class IndexModel : PageModel
    {
        public string Message { get; set; } = @"
    Уорд Каннингем и его соавтор Бо Леуф в их книге The Wiki Way: Quick Collaboration on the Web описали сущность концепции вики следующим образом:
    Вики предлагает всем пользователям редактировать любую страницу или создавать новые страницы на вики-сайте, используя обычный веб-браузер без каких-либо его расширений.
    Вики поддерживает связи между разными страницами за счёт почти интуитивно понятного создания ссылок на другие страницы и отображения того, существуют данные страницы или нет.
    Вики не является тщательно изготовленным сайтом для случайных посетителей. Напротив, Вики стремится привлечь посетителей к непрерывному процессу создания и сотрудничества, который постоянно меняет вид сайта.
    ";
        public List<string> WordList = new List<string>() { " " };

        public char[] Separators { get; set; } = { ' ', '.', ':', ',' };

        public void OnGet()
        {
        }

        public void OnPost(string text)
        {
            if (text != null)
            {
                var temp = text.Split(Separators, StringSplitOptions.RemoveEmptyEntries).Distinct();
                foreach(var w in temp)
                {
                    if(char.IsUpper(w[0]))
                    {
                        WordList.Add(w);
                    }
                }
                Message = text;
            }
            else
                Message = "";
            WordList.Add("");
        }
    }
}