@page
@model IndexModel

<!DOCTYPE html>
<html>
<head>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css"
          rel="stylesheet" />
</head>
<body>
    <h5 class="bg-primary text-white text-center m-2 p-2">Замена первой буквы в словах на большую</h5>
    <a asp-page="WordList" class="btn btn-primary">Слова в базе</a>
    <button class="btn btn-primary">Заменить</button>
    <div class="form-group">
        <label for="Textarea">Вставьте текст</label>
        <textarea class="form-control" name="MainText" rows="12">@Model.MainText</textarea>
    </div>
</body>
</html>